{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram</title>
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
</head>
<body>
  <div class="container-fluid-lg border-bottom">
    <div class="container-lg" id="navWrapper">
        <div class="row">
            <div class="d-flex align-items-center justify-content-evenly">
                <div id="logo" class="col-md-4">
                    <a href="{% url 'page' %}">
                        <div class="my-0 py-0"><img src="{% static 'img/instagram.png'%}" alt="" class="img-fluid"></div>
                    </a>
                </div>
                <div id="searchDiv" class="col-md-4 d-none d-md-flex">
                    <form action="{% url 'search_profile' %}">
                        <input type="text" placeholder="&#xF002; Search"
                            id="search" name="profile" />
                    </form>
                </div>
                <div id="nav" class="col-md-4 flex-grow-1 align-items-center">
                    <ul class="d-flex align-items-centre justify-content-between">
                        <li><a href="{% url 'page' %}"><i class='bx bxs-home'></i></a></li>
                        <li><a href="#"><i class='bx bxl-messenger'></i></a></li>
                        <li data-bs-toggle="modal" data-bs-target="#uploadModal"><a href="#"><i
                                    class='bx bx-message-square-add'></i></a></li>
                        <li><a href="#"><i class='bx bx-heart'></i></a></li>
                        <li><a href="{% url 'profile'  current_user.username %}"><i class='bx bx-user-circle'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
</div>
</body>
</html>